<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guardiã PPA</title>
        <link rel="stylesheet" href="./src/css/style.css">
    </head>
    <body>
        <header class="wrapper header">
            <div class="container content-header">
                <img src="./assets/logo.png" alt="logo">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#contato">Contato</a></li>
                    <li><strong class="button"><a href="#protetion">Solicitar
                                proteção</a></strong></li>
                </ul>
            </div>
        </header>
        <main class="wrapper">
            <div class="container-full init" id="home">
                <div class="container content-main">
                    <div class="content-left">
                        <p><strong>Sinta-se
                                protegida</strong></p>
                        <p>com a Aurora,
                            nossa Guardiã PPA</p>
                        <img src="./assets/abraco.png" alt="Abraço" srcset>
                    </div>
                    <div class="content-right">
                        <img src="./assets/aurora.png" alt="aurora" srcset>
                    </div>

                </div>
            </div>
            <div class="container-full about" id="about">
                <div class="container content-about">

                    <h1>Sobre</h1>
                    <div class="container-full text-about">
                        <div class="content-left">
                            <strong>Tecnologia no combate à violência contra as
                                mulheres</strong>
                            <p> Aurora é um personagem que utiliza a tecnologia como aliada no combate à violência, bullying e abusos contra meninas na EEMTI Poeta Patativa do Assaré.</p>
                        </div>
                        <div class="content-right">
                            <p>A ideia nasceu em junho de 2024, em Fortaleza, durante a edição do Patativa Científico. Tudo começou com o estudo sobre a equidade de gênero e a proteção às mulheres. Baseado nisso, percebemos que esse problema se alastra principalmente nos corredores da escola.

                                Pensando nisso, como forma de proteger, prevenir e combater os diversos tipos de violência na escola, desenvolvemos a Guardiã PPA.</p>
                        </div>
                    </div>
                    <img src="./assets/hand.png" alt="hand">
                </div>

            </div>
            <!-- Solicitar ajuda -->
            <div class="container-full help" id="protetion">

                <div class="container content-help">

                    <h1>A Aurora está te escutando!</h1>
                    <div class="container-full text-help">
                        <div class="content-left">
                            <p> Mensagem:</p>
                            <textarea type="text" name="textHelp"
                                id="textareaHelp"
                                placeholder="Deixe aqui a sua mensagem"></textarea>
                            <strong class="button"
                                onclick="alert('Proteção solicitada com sucesso!')">Solicitar
                                Proteção</strong>
                        </div>
                        <div class="content-right">
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-full feedback">

                <div class="container content-feedback">

                    <div class="container-full text-feedback">
                        <h1>★★★★★</h1>
                        <p>"Eu nunca soube onde buscar ajuda até encontrar este site. As informações e recursos fornecidos aqui foram essenciais para minha recuperação."</p>
                        <span>
                            <img src="./assets/profile.jpg" alt srcset>
                            <p><strong>Ana Cristina</strong>Professora, EEMTI
                                Poeta Patativa do Assaré.</p>
                        </span>
                    </div>
                </div>

            </div>
        </main>
        <footer class="wrapper">
            <div class="container footer" id="contato">
                <div class="content-left">
                    <h1>Curtiu nosso proposito?</h1>
                    <h2> Vem conversar com a gente.</h2>
                    <p>guardiappa@gmail.com</p>
                </div>
                <div class="content-right">
                    <h1>Saiba onde nos encontrar</h1>
                    <p> EEMTI
                        Poeta Patativa do Assaré.</p>
                    <h2>R. Descartes Braga, 4269 - Granja Lisboa, Fortaleza -
                        CE</h2>
                </div>
            </div>
        </footer>
    </body>
    <script src="./src/js/script.js"></script>
</html>